<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Votre réservation</title>
</head>
<body>
<h1>Le statut de votre réservation a changé</h1>

<h2>Restaurant "Le moulin du petit gascon"</h2>

<p>Cher client,</p>
<p>Nous sommes au regret de vous informer que votre demande de réservation ne pourra pas être prise en compte.</p>
<p>Ce mail est généré automatiquement en fonction du statut que nous avons choisi personnellement pour votre réservation, aussi sachez que lorsque nous refusons une réservation, plusieurs raisons peuvent entrer en jeu (Fermeture de l'établissement pour congés, restaurant déjà complet à cette date ou tout autres raisons nous obligeant à refuser cette demande), n'hésitez pas à réitérer votre demande à une date ultérieure ou à nous contacter par téléphone au 05.81.68.18.53 pour toutes informations complémentaires.</p>

<p>Pour rappel, voici les informations que vous nous aviez transmises: </p>

<p><strong>Nom : </strong> {{ reservation.nom }}</p>
<p><strong>Prénom :</strong> {{ reservation.prenom }}</p>
<p><strong>Date de réservation : </strong>{{ reservation.dateReservation ? reservation.dateReservation|date('Y-m-d H:i') : '' }}</p>
<p><strong>Nombre de personnes :</strong>{{ reservation.nbPersonnes }}</p>
<p><strong>Demande spécifique :</strong>{{ reservation.contraintes }}</p>
<strong>Téléphone :</strong><a href="{{ reservation.tel }}">{{ reservation.tel }}</a>
<strong>Mail :</strong><a href="mailto:{{reservation.email}}">{{reservation.email }}</a>

<p>Toutes l'équipe du restaurant vous souhaite une excellente journée et espèrent pouvoir vous recevoir prochainement.</p>

</body>
</html>