{{ form_start(form, {'attr': {'class': 'champsForm'}}) }}

    {{ form_label(form.category_id) }}
    {{ form_widget(form.category_id) }}
    {{ form_errors(form.category_id) }}

    {{ form_label(form.titre) }}
    {{ form_widget(form.titre) }}
    {{ form_errors(form.titre) }}

    {{ form_label(form.prix) }}
    {{ form_widget(form.prix) }}
    {{ form_errors(form.prix) }}

    {{ form_label(form.description) }}
    {{ form_widget(form.description) }}
    {{ form_errors(form.description) }}

    <button class="btn connect">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
