<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('assets/css/stylePdf.css') }}">
    <title>Menu PDF</title>
</head>
<body>
    {% block body %}
        <main>
            {% block main %}
                <div class="menu">
                    <div class="titre">
                        {% if menu.prix %}
                            <h1> {{ menu.titre }} {{ menu.prix }} </h1>
                        {% else %}
                            <h1> {{ menu.titre }}</h1>
                        {% endif %}
                    </div>
                    <div class="image">
                        {% if menu.image %}
                            <img src="{{ menu.image }}" alt="Image du menu">
                        {% endif %}
                    </div>
                    <div class="description">
                        {% if menu.description %}
                            <p> {{ menu.description }}</p>
                        {% endif %}
                    </div>
                    <div class="entree">
                        {% if entree %}
                            <h3>{{ entree.titre }}</h3>
                            {% for met in menu.idMet %}
                                {% if met.categoryId == '1' %}
                                    {% if met.prix %}
                                        <p> {{ met.titre }} {{ met.prix }} </p>
                                    {% else %}
                                        <p> {{ met.titre }} </p>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="plat">
                        {% if plat %}
                            <h3>{{ plat.titre }}</h3>
                            {% for met in menu.idMet %}
                                {% if met.categoryId == '2' %}
                                    {% if met.prix %}
                                        <p> {{ met.titre }} {{ met.prix }} </p>
                                    {% else %}
                                        <p> {{ met.titre }} </p>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="dessert">
                        {% if dessert %}
                            <h3>{{ dessert.titre }}</h3>
                            {% for met in menu.idMet %}
                                {% if met.categoryId == '3' %}
                                    {% if met.prix %}
                                        <p> {{ met.titre }} {{ met.prix }} </p>
                                    {% else %}
                                        <p> {{ met.titre }} </p>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endblock %}
        </main>
    {% endblock %}
</body>

</html>