{% extends 'admin/home.html.twig'%}
{% block main %}
    <div class="content">
        <h3>Vos demandes de contact à traiter</h3>

        <div class="listContact">
            <table class="table">
                <thead>
                <tr class="tableau">
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Tel</th>
                    <th>Email</th>
                    <th>Sujet</th>
                    <th>Message</th>
                    <th>Date du message</th>
                </tr>
                </thead>
                <tbody>
                {% for contact in contact %}
                    <tr class="tableau">
                        <td>{{ contact.id }}</td>
                        <td>{{ contact.nom }}</td>
                        <td>{{ contact.prenom }}</td>
                        <td>{{ contact.tel }}</td>
                        <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
                        <td>{{ contact.sujet }}</td>
                        <td>{{ contact.message }}</td>
                        <td>{{ contact.createdAt ? contact.createdAt|date('Y-m-d') : '' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
