
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title> {{ menu.titre }} Pdf </title>
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/stylePdf.css')) }}">
</head>

{% block main %}
    <div class="menu">
        <img class="logo_resto" src="{{ absolute_url(asset('assets/img/logo_petit_gascon.png')) }}" alt="">
            {% if menu.image %}
                <img class="image_menu_pdf" src="{{ absolute_url(asset('uploads/images/' ~ menu.image))}}" alt="">
            {% endif %}
        <div class="titre">
            {% if menu.prix %}
               <p>{{ menu.titre }} {{ menu.prix }}</p>
            {% else %}
                <p> {{ menu.titre }}</p>
            {% endif %}
        </div>
        <div class="description">
            {% if menu.description %}
                <p> {{ menu.description }}</p>
            {% endif %}
        </div>
        <div class="entree">
            {% if entree %}
                <p class="titre_categorie"><span>{{ entree.titre }} au choix</span></p>
                {% for met in menu.idMet %}
                    {% if met.categoryId == '1' %}
                        {% if met.prix %}
                            <p class="met"> {{ met.titre }} {{ met.prix }} </p>
                        {% else %}
                            <p class="met"> {{ met.titre }} </p>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="plat">
            {% if plat %}
                <p class="titre_categorie"><span>{{ plat.titre }} au choix</span> </p>
                {% for met in menu.idMet %}
                    {% if met.categoryId == '2' %}
                        {% if met.prix %}
                            <p class="met"> {{ met.titre }} {{ met.prix }} </p>
                        {% else %}
                            <p class="met"> {{ met.titre }} </p>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="dessert">
            {% if dessert %}
                <p class="titre_categorie"><span>{{ dessert.titre }} au choix</span>  </p>
                {% for met in menu.idMet %}
                    {% if met.categoryId == '3' %}
                        {% if met.prix %}
                            <p class="met"> {{ met.titre }} {{ met.prix }} </p>
                        {% else %}
                            <p class="met"> {{ met.titre }} </p>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>

    </div>
{% endblock %}
{% block footer %}
    <div class="mention menu">
        <img width="150px" src="{{ absolute_url(asset('assets/img/fait_maison_nb.png')) }}">
        <p>Tous nos plats sont faits maison, à partir de produits bruts et cuisinés sur place. </p>
    </div>
{% endblock %}
</html>