<!DOCTYPE html>
<html lang="fr">
    <head>
        <script src="{{ asset('tarteaucitron/tarteaucitron.js')}}"></script>

        <script>
            tarteaucitron.init({
                "privacyUrl": "", /* Privacy policy url */
                "bodyPosition": "bottom", /* or top to bring it as first element for accessibility */

                "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
                "cookieName": "tarteaucitron", /* Cookie name */

                "orientation": "middle", /* Banner position (top - bottom - middle - popup) */

                "groupServices": false, /* Group services by category */
                "serviceDefaultState": "wait", /* Default state (true - wait - false) */

                "showAlertSmall": false, /* Show the small banner on bottom right */
                "cookieslist": false, /* Show the cookie list */

                "showIcon": true, /* Show cookie icon to manage cookies */
                // "iconSrc": "", /* Optionnal: URL or base64 encoded image */
                "iconPosition": "BottomRight", /* Position of the icon between BottomRight, BottomLeft, TopRight and TopLeft */

                "adblocker": false, /* Show a Warning if an adblocker is detected */

                "DenyAllCta" : true, /* Show the deny all button */
                "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
                "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */

                "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

                "removeCredit": false, /* Remove credit link */
                "moreInfoLink": true, /* Show more info link */
                "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
                "useExternalJs": false, /* If false, the tarteaucitron.services.js file will be loaded */

                //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for subdomain website */

                "readmoreLink": "", /* Change the default readmore link pointing to tarteaucitron.io */

                "mandatory": true, /* Show a message about mandatory cookies */
                "mandatoryCta": true /* Show the disabled accept button when mandatory on */
            });
                (tarteaucitron.job = tarteaucitron.job || []).push('facebooklikebox');
                (tarteaucitron.job = tarteaucitron.job || []).push('googlemaps');
                (tarteaucitron.job = tarteaucitron.job || []).push('recaptcha');
        </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Bar Restaurant Le Moulin du Petit Gascon{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <!-- Latest compiled and minified CSS -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {% endblock %}
    </head>
    <header>
        {% block header %}
                <nav class="navBar">
                    <a class="btn_menu accueil" href="{{ path('home') }}"> Accueil </a>
                    <a class="btn_menu accueil" href="{{ path('app_menu_index') }}"> Nos menus </a>
                    <a class="burgerDisable" href="{{ path('admin_dashboard') }}"><img class="logoIconeMenu accueil" title="Connexion admin" src="{{ asset('assets/img/logo_petit_gascon.png') }}" alt="Logo Restaurant"></a>
                    <a class="btn_menu accueil" title="Bientôt disponible" href="{{ path('reservationOnline') }}"> Réservation en ligne </a>
                    <a class="btn_menu accueil" href="{{ path('app_contact')}}"> Contact </a>
                </nav>
                <div class="ifBurger">
                    <a href="{{ path('admin_dashboard') }}"><img class="logoIconeMenu" title="Connexion admin" src="{{ asset('assets/img/logo_petit_gascon.png') }}" alt="Logo Restaurant"></a>
                </div>
                <button type="button" aria-label="toggle curtain navigation" class="nav-toggler">
                <span class="line l1"></span>
                <span class="line l2"></span>
                <span class="line l3"></span>
                </button>
        {% endblock %}
    </header>
    <body>
        {% block body%}
            <div id="fb-root"></div>
            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v15.0" nonce="E8acaxRE"></script>
            {% block main %}
            {% endblock %}
        {% endblock %}

    </body>
    <footer>
        {% block footer %}
            <section class="content_footer">
                <div class="box_footer">
                    <h4 class="text_footer">Nous trouver :</h4>
                    <p class="text_footer2">Chemin de l'argente <br> 32100 CONDOM</p>
                    <div class="googlemaps_embed" id="id"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d179.53347712129258!2d0.3654564!3d43.94828320000002!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b2ed8040b9ca05%3A0x30367826376c71de!2sMoulin%20du%20Petit%20Gascon!5e0!3m2!1sfr!2sfr!4v1665676121605!5m2!1sfr!2sfr" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                </div>
                <div class="box_footer">
                    <h4 class="text_footer">Nos Horaires :</h4>
                    <p class="text_footer"> Du Mercredi au Lundi </p>
                    <p class="text_footer"> De 12h à 14h30 et de 20h à 22h30 </p>
                    <p class="text_footer"> Fermé le Mardi </p>
                </div>
                <div class="box_footer">
                    <h4 class="text_footer">Nous contacter :</h4>
                    <p class="text_footer"> Infos et réservations </p>
                    <p class="text_footer">Par Téléphone au :<a class="text_footer" href="tel:+33581681853"> 05.81.68.18.53</a></p>
                    <p class="text_footer"> ou par mail à : <a class="text_footer" href="mailto:lemoulindupetitgascon@gmail.com">lemoulindupetitgascon@gmail.com</a> </p>
                </div>
                <div class="box_footer">
                    <p class="text_footer2">
                        Mentions Légales
                    </p>
                    <p class="text_footer2">
                        Politique RGPD
                    </p>
                    <p class="text_footer2">
                        Design et création : Lataste Damien ©
                    </p>
                </div>
                <div class="box_footer">
                    <p class="text_footer2">Suivez-nous sur Facebook</p>
                    <a href="https://www.facebook.com/LMPG32/"><img width="250px" src="{{asset('assets/img/profilfb.png')}}" alt="page facebook restaurant"></a>
                </div>

            </section>

        {% endblock %}
    </footer>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <!-- JavaScript Bundle with Popper -->
        <script src="{{ asset('assets/JavaScript/script.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

    {% endblock %}
</html>
